process {
    //conda = "/home/bruno.ariano/conda_envs/tdbsumstat"
    conda = "/software/cardinal_analysis/ht/conda_envs/tdbsumstat"
    // conda = "${projectDir}/pipeline_environment.yml"
	
    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 3

    withLabel:process_single {
        cpus   = { 2                   }
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 4     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 4     * task.attempt }
        memory = { 24.GB * task.attempt }
        time   = { 3.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 6    * task.attempt }
        memory = { 80.GB * task.attempt }
        time   = { 3.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 12.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 64.GB * task.attempt }
    }
}
