process {
	conda = "/ssu/gassu/conda_envs/flanders_3.2"
	// conda = "${projectDir}/pipeline_environment.yml"
    container = "htgenomeanalysisunit/flanders:3.0.1"
	
    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 3

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 1     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 1.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 1     * task.attempt }
        memory = { 24.GB * task.attempt }
        time   = { 3.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 1    * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 5.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 12.h  * task.attempt }
    }
    withLabel:process_multi {
        cpus   = { 4    * task.attempt }
        memory = { 25.GB * task.attempt }
        time   = { 6.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 64.GB * task.attempt }
    }
}
