
profiles {
    test {
        params {
			ingest = true
            file_path_ingestion = "${projectDir}/example_data/example_data_table.csv"
            mapping_file = "${projectDir}/example_data/mapping_file_test.csv"
            ingestion = true
            type_sumstat = "qtl"
            qc = false
            ingestion_chunk_files = 2
            tiledb_name = "test"
            outdir = "./results"  // Add this missing parameter
            publish_dir_mode = 'copy'  // Add this missing parameter
        }
    }

    test_export_lb {
        params {
			export = true
            tiledb_path = "${projectDir}/example_data/TileDB_test"
            locusbreaker = true
            out = "out"
            type_sumstat = "qtl"
            hole_lb = 250000
            tiledb_batch_size = 3
            maf_lb = 0.001
            locus_max_size_lb = 3000000
            cis_trans_lb = "cis"
            table_lb =  "${projectDir}/example_data/locusbreaker_test_table.csv"
            batch_name = null
            outdir = "./results"  // Add this missing parameter
            publish_dir_mode = 'copy'  // Add this missing parameter
        }
    }

    test_export_snp {
        params {
			export = true
            tiledb_path = "/project/cardinal/QTLs/freeze3/TileDBs/ukb_cis/TileDB_f3_UKB_cis_celltype2"
            snp = "/group/soranzo/bruno.ariano/snps_ale.csv"
            attrs = "SE,BETA"
            out = "out"
            type_sumstat = "qtl"
            tiledb_batch_size = 500
            outdir = "./results"  // Add this missing parameter
            publish_dir_mode = 'copy'  // Add this missing parameter
        }
    }
}