// A prototype for a test configuration file

profiles {
	test {
		params {
			summarystats_input = "${projectDir}/example_data/example_data_finemapping_input_table.tsv"
			run_liftover = true 			
			is_test_profile = true
			large_locus_size = 1000000
		}
	}
	test_long {
		params {
			summarystats_input = "${projectDir}/example_data/example_data_finemapping_input_table_long.tsv"
			run_liftover = false
			is_test_profile = true
			large_locus_size = 1000000
		}
	}
	test_tiledb {
		params {
			    tiledb = true
    			tiledb_uri = "${projectDir}/example_data/TileDB_test"
				tiledb_batch_size = 2
    			path_tiledb_lb_out = "out"
    			tiledb_lb_maf = 0.01 
    			tiledb_lb_typesumstat = "gwas"
    			tiledb_lb_hole = 250000
				tiledb_metadata_file = "${projectDir}/example_data/example_data_tiledb_metadata.csv"
				tiledb_bfile = "${projectDir}/example_data/ld/1KG_phase3_hg37_1:10546866-11576788_alpha_sorted_alleles"
    			tiledb_cs_thresh = 0.99
				is_test_profile = true
				tiledb_large_locus_size = 1000000
				workers = 4
				run_colocalization = true
		}
	}
}
