
profiles {
    test_ingest {
        params {
            ingest = true
            ingestion = true
            file_path_ingestion = "${projectDir}/example_data/example_data_table.csv"
            mapping_file = "${projectDir}/example_data/mapping_file_test.csv"
            type_sumstat = "qtl"
            qc = false
            ingestion_chunk_files = 2
            tiledb_name = "test"
            outdir = "./results"
            publish_dir_mode = 'copy'
        }
    }

    test_export_lb {
        params {
            export = true
            locusbreaker = true
            uri_path = "${projectDir}/example_data/TileDB_test"
            out = "out_test"
            type_sumstat = "qtl"
            hole_lb = 250000
            tiledb_batch_size = 1
            maf_lb = 0.001
            locus_max_size_lb = 3000000
            cis_trans_lb = "cis"
            table_lb = "${projectDir}/example_data/locusbreaker_test_table_sc.csv"
            outdir = "./results"
            publish_dir_mode = 'copy'
        }
    }

    test_export_snp {
        params {
            export = true
            snp = "${projectDir}/example_data/snp_list_sc.csv"
            tiledb_path = "${projectDir}/example_data/TileDB_test"
            uri_path = "${projectDir}/example_data/TileDB_test"
            attrs = "SE,BETA"
            out = "out"
            type_sumstat = "qtl"
            outdir = "./results"
            publish_dir_mode = 'copy'
        }
    }

    test_export_regions {
        params {
            export = true
            regions = "${projectDir}/example_data/region_list_sc.csv"
            uri_path = "${projectDir}/example_data/TileDB_test"
            attrs = "SE,BETA"
            out = "out"
            type_sumstat = "qtl"
            tiledb_batch_size = 1
            outdir = "./results"
            publish_dir_mode = 'copy'
        }
    }

    test_export_traits {
        params {
            export = true
            export_traits = true
            uri_path = "${projectDir}/example_data/TileDB_test"
            list_traits = "${projectDir}/example_data/trait_list_test.csv"
            out = "out"
            type_sumstat = "qtl"
            outdir = "./results"
            publish_dir_mode = 'copy'
            tiledb_batch_size = 1
        }
    }

    test_export_meta {
        params {
            export = true
            export_meta = true
            uri_path = "${projectDir}/example_data/TileDB_test"
            out = "out"
            type_sumstat = "qtl"
            outdir = "./results"
            publish_dir_mode = 'copy'
        }
    }

    test_recompute_meta {
        params {
            recompute_meta = true
            uri_path = "${projectDir}/example_data/TileDB_test"
            list_traits = "${projectDir}/example_data/recompute_meta_test_table.csv"
            mac = 10
            out = "out"
            type_sumstat = "qtl"
            outdir = "./results"
            publish_dir_mode = 'copy'
            tiledb_batch_size = 10
        }
    }
}
